
@model DSProyectoHH.Web.Models.CourseViewModel
@{
    ViewData["Title"] = "Editar Curso";
}

<link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />
<h1>Editar Curso</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type ="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartingDate" class="control-label"></label>
                <input asp-for="StartingDate" class="form-control" type="date" />
                <span asp-validation-for="StartingDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseTypeId" class="control-label"></label>
                <select asp-for="CourseTypeId" asp-items="Model.CourseTypes" class="form-control"></select>
                <span asp-validation-for="CourseType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FrequencyId" class="control-label"></label>
                <select asp-for="FrequencyId" asp-items="Model.Frequencies" class="form-control"></select>
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <select asp-for="ScheduleId" asp-items="Model.Schedules" class="form-control"></select>
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" asp-items="Model.Teachers" class="form-control"></select>
                <span asp-validation-for="Teacher" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">
                    <span class="icon-undo2"></span> Regresar a la Lista
                </a>
            </div>
        </form>
    </div>
</div>




