@model DSProyectoHH.Web.Models.CourseViewModel
@{
    ViewData["Title"] = "Editar Curso";
}

<link rel="stylesheet" href="~/css/style-icon.css" />
<link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />

<h1>Editar Curso</h1>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Frequencies" />
            <input type="hidden" asp-for="Schedules" />
            <input type="hidden" asp-for="Teachers" />
            <input type="hidden" asp-for="CourseTypes" />
            <input type="hidden" asp-for="GradeGrid" />

            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control" minlenght="7" maxlength="7" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartingDate" class="control-label"></label>
                <input asp-for="StartingDate" class="form-control" type="date" />
                <span asp-validation-for="StartingDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseTypeId" class="control-label"></label>
                <select asp-for="CourseTypeId" asp-items="Model.CourseTypes" class="form-control"></select>
                <span asp-validation-for="CourseTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FrequencyId" class="control-label"></label>
                <select asp-for="FrequencyId" asp-items="Model.Frequencies" class="form-control"></select>
                <span asp-validation-for="FrequencyId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <select asp-for="ScheduleId" asp-items="Model.Schedules" class="form-control"></select>
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" asp-items="Model.Teachers" class="form-control"></select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">
                    <span class="icon-undo2"></span> Regresar a la Lista
                </a>
            </div>
        </form>
    </div>
    <div class="col-md-7">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label>Id del Estudiante</label>
                    </th>
                    <th>
                        <label>Nombre del Estudiante</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GradeGrid)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.User.FullName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




