body {
    background-image: url("../images/Home_Pictures/fondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#lbl1 {
    font-family: 'Montserrat';
    background-color: black;
    color: white;
    font-size: 55px;
    font-weight: bold;
}

#lbl2 {
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: bold;
}

#lbl3 {
    font-family: 'Montserrat';
    background-color: black;
    color: white;
    font-size: 35px;
    font-weight: bold;
}