@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    <link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
<div class="text-center">

<h1 id = "lbl1" > ERROR</h1>

<label id = "lbl2" > No posees los permisos necesarios para visualizar esta página </label>

<label id = "lbl2" > Permisos adicionales requeridos</label>

</div>

