@model DSProyectoHH.Web.Data.Entities.Project

@{
    ViewData["Title"] = "Crear";
}

<link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />

<h1>Crear</h1>

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Research" class="control-label"></label>
                <input asp-for="Research" class="form-control" />
                <span asp-validation-for="Research" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductQuality" class="control-label"></label>
                <input asp-for="ProductQuality" class="form-control" />
                <span asp-validation-for="ProductQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollabWork" class="control-label"></label>
                <input asp-for="CollabWork" class="form-control" />
                <span asp-validation-for="CollabWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creativity" class="control-label"></label>
                <input asp-for="Creativity" class="form-control" />
                <span asp-validation-for="Creativity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fluency" class="control-label"></label>
                <input asp-for="Fluency" class="form-control" />
                <span asp-validation-for="Fluency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-secondary">Regresar a la Lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
