@model DSProyectoHH.Web.Data.Entities.WrittenQuiz

@{
    ViewData["Title"] = "Crear";
}
<link rel="stylesheet" href="~/css/style-icon.css" />
<link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />

<h1>Crear</h1>

<h4>Examen Escrito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SectionA" class="control-label"></label>
                <input asp-for="SectionA" class="form-control" />
                <span asp-validation-for="SectionA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionB" class="control-label"></label>
                <input asp-for="SectionB" class="form-control" />
                <span asp-validation-for="SectionB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionC" class="control-label"></label>
                <input asp-for="SectionC" class="form-control" />
                <span asp-validation-for="SectionC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionD" class="control-label"></label>
                <input asp-for="SectionD" class="form-control" />
                <span asp-validation-for="SectionD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionE" class="control-label"></label>
                <input asp-for="SectionE" class="form-control" />
                <span asp-validation-for="SectionE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionF" class="control-label"></label>
                <input asp-for="SectionF" class="form-control" />
                <span asp-validation-for="SectionF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-success" /> |
                <a asp-action="Index" class="btn btn-outline-secondary">Regresar a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
